*{
    margin: 0px;
    padding: 0px;
}
container{
    width: 100%;
    min-height: 500px;
}
img{
    width: 20%;
    height: 225px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    margin: auto;
}